body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}
#main{
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
   
}

#left{
    width: 47%;
    height: 728px;
    border: 1px solid #CDCDCD;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius:15px;
}
#right{
    width: 51%;
    height: 728px;
    border: 1px solid #CDCDCD;
    float: right;
    margin-bottom: 5px;
    /* overflow-x:scroll;
    overflow-y:scroll;

    overflow: auto; */
    /* overflow-y: auto;
    overflow-x: auto; */
    border-radius:15px;
   
}
.btnthanhtoan{
    border-radius: 5px;
    width: 50px;
    height: 40px;
}
