<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="main">
        <div id="left">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home" style="font-size: large;">Bàn</a></li>
                <li><a data-toggle="tab" href="#menu1" style="font-size: large;">Menu </a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active" style="border: 5px; height: 100%;">
                    <h3>Bàn</h3>
                    <button type="button" class="btn btn-success" style="width: 14%" [routerLink]="['#menu1']">Bàn
                        1</button>
                    <button type="button" class="btn btn-default" style="width: 14%">Bàn 2</button>
                    <button type="button" class="btn btn-default" [routerLink]="" style="width: 14%">Bàn 3</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        4</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        5</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        6</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        7</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        8</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        9</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        10</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        11</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        12</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        13</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        14</button>

                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="locsanpham">
                        <label style="font-size:large; font-weight: bold;" for="exampleFormControlSelect1">Loại thực
                            đơn</label><br>
                        <select class="form-control" id="exampleFormControlSelect1" style="font-size:large;"
                            [(ngModel)]="locMon">
                            <option value="TATCA">Xem tất cả</option>
                            <option value="TRASUA">Trà sữa</option>
                            <option value="TRAVS">Trà váng sữa</option>
                            <option value="TRATRAICAY">Trà trái cây</option>
                            <option value="TRADAXAY">Trà đá xay</option>
                            <option value="TOPPING">Topping </option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <ng-container *ngFor="let item of lstMon">
                            <ng-container *ngIf="phanLoaiMon(item.maLoai)">
                                <button class="btn btn-default" style="width: 30%; color:black;" href=""
                                    (click)="chonMon(item)">{{item.tenMon}}
                                    <br>
                                    {{item.donGia | number}} đ</button><br>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#hoadon" style="font-size: large;">Hóa đơn</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active" style="border: 5px; height: 100%; width: 1000px;">
                    <h3>Hóa đơn</h3>

                    <table class="table" style="font-size: medium; width: 86%;">
                        <thead>
                            <tr>
                                <th scope="col" style="padding-left: 2%;">#</th>
                                <th scope="col">Tên món</th>
                                <th scope="col">SL</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of listMonDaChon; let index = index">
                                <tr>
                                    <th scope="row"><button type="button" class="btn btn-default"
                                            (click)="onDeleteItem(index)"><i class="fa fa-trash-o fa-1x"
                                                aria-hidden="true"></i></button></th>

                                    <td>{{item.tenMon}}</td>
                                    <td>
                                        <input type="number" value="1" min="1" id="count"
                                            style="width: 42px; text-align: center;" [(ngModel)]="item.soLuong">
                                    </td>
                                    <td> {{item.donGia | number}} đ</td>
                                    <td>{{getTongTien(item) |number}} đ</td>
                                </tr>
                                <label for="" style="font-size: small; font-style: italic;">Tổng cộng:
                                    {{getTongHoaDon(item) | number}}
                                </label><br>
                            </ng-container>
                        </tbody>
                    </table>

                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    <div>
                        <!-- <label for="" style="font-size: small; font-style: italic;">Tổng cộng:
                            {{getTongHoaDon()}} </label><br> -->
                        <button type="button" class="btn btn-success" (click)="ThanhToan()">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>