<!-- <div class="card text-center">
    <div class="card-header">
        <div class="timkiem">
            <form class="form-inline md-form form-sm">
                <i class="fa fa-search" aria-hidden="true">
                    <input class="form-control form-control-sm ml-3" type="text" placeholder="Search"
                        aria-label="Search" mdbInput (keyup)="filter($event)"></i>
            </form>
        </div>
        <div class="locsanpham">
            <label style="font-size:large; font-weight: bold;" for="exampleFormControlSelect1">Loại thực
                đơn</label><br>
            <select class="form-control" id="exampleFormControlSelect1" style="font-size:medium;"
                [(ngModel)]="locMon">
                <option value="TAT_CA">Xem tất cả</option>
                <option value="TRASUA">Trà sữa</option>
                <option value="TRAVS">Trà váng sữa</option>
                <option value="TRATRAICAY">Trà trái cây</option>
                <option value="TRADAXAY">Trà đá xay</option>
                <option value="TOPPING">Topping </option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <div class="listsanpham">
            <br>
            <button type="button" class="btn btn-success" [routerLink]="['/hanghoa/danhmucmon/add']"
                style="color: black; background-color: #FACC2E"> Thêm món mới</button>
    
            <button type="button" class="btn btn-success" (click)="xuatfile()"> Xuất file</button>
            <br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Danh mục món</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped  table-hover " cellspacing="0" width="100%"
                        style="text-align: center;">
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Loại thực đơn</th>
                                <th>Giá bán</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of lstMon; let index = index">
                                <ng-container *ngIf="getShowMon(item.maLoai)">
                                    <tr>
                                        <th scope="row">{{item.maMon}}</th>
                                        <td scope="row">{{item.tenMon}}</td>
                                        <td scope="row">
                                            {{item.maLoai==1 ? 'Trà sữa' : item.maLoai==2 ? 'Trà váng sữa' : item.maLoai==3 ? 'Trà trái cây' : item.maLoai==4 ?'Trà đá xay':'Topping'}}
                                        </td>
                                        <td scope="row">{{item.donGia | number}} đ</td>
                                        <td>
                                            <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"
                                                style="color: black;"
                                                [routerLink]="['/hanghoa/danhmucmon', item.maMon, 'edit']"></a>
    
                                            &nbsp;
                                            <button i class="fa fa-trash-o fa-2x" aria-hidden="true"
                                                style="color: black;" (click)="onDelete(item.maMon)"></button>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div> -->



<div class="container">
    <div class="left">
        <div class="timkiem">
            <form class="form-inline md-form form-sm">
                <i class="fa fa-search" aria-hidden="true">
                    <input class="form-control form-control-sm ml-3" type="text" placeholder="Search"
                        aria-label="Search" mdbInput (keyup)="filter($event)"></i>
            </form>
        </div>
        <div class="locsanpham">
            <label style="font-size:large; font-weight: bold;" for="exampleFormControlSelect1">Loại thực
                đơn</label><br>
            <select class="form-control" id="exampleFormControlSelect1" style="font-size:medium;"
                [(ngModel)]="locMon">
                <option value="TAT_CA">Xem tất cả</option>
                <option value="TRASUA">Trà sữa</option>
                <option value="TRAVS">Trà váng sữa</option>
                <option value="TRATRAICAY">Trà trái cây</option>
                <option value="TRADAXAY">Trà đá xay</option>
                <option value="TOPPING">Topping </option>
            </select>
        </div>
    </div>
    <div class="listsanpham">
        <br>
        <button type="button" class="btn btn-success" [routerLink]="['/hanghoa/danhmucmon/add']"
            style="color: black; background-color: #FACC2E"> Thêm món mới</button>

        <button type="button" class="btn btn-success" (click)="xuatfile()"> Xuất file</button>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Danh mục món</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped  table-hover " cellspacing="0" width="100%"
                    style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Mã hàng hóa</th>
                            <th>Tên hàng</th>
                            <th>Loại thực đơn</th>
                            <th>Giá bán</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of lstMon; let index = index">
                            <ng-container *ngIf="getShowMon(item.maLoai)">
                                <tr>
                                    <th scope="row">{{item.maMon}}</th>
                                    <td scope="row">{{item.tenMon}}</td>
                                    <td scope="row">
                                        {{item.maLoai==1 ? 'Trà sữa' : item.maLoai==2 ? 'Trà váng sữa' : item.maLoai==3 ? 'Trà trái cây' : item.maLoai==4 ?'Trà đá xay':'Topping'}}
                                    </td>
                                    <td scope="row">{{item.donGia | number}} đ</td>
                                    <td>
                                        <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"
                                            style="color: black;"
                                            [routerLink]="['/hanghoa/danhmucmon', item.maMon, 'edit']"></a>

                                        &nbsp;
                                        <button i class="fa fa-trash-o fa-2x" aria-hidden="true"
                                            style="color: black;" (click)="onDelete(item.maMon)"></button>
                                        &nbsp;
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>