.container{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
 .locsanpham{
    float: left;
    height: 85%;
    width: 77%;
    font-family: sans-serif;
    border: 1pt;
    top: 18px;
    padding-left: 13%;
    padding-top: 8%;
    padding-right: 2%;
    margin-left: 23%;
}

.left{
    float: left;
    height: 85%;
    width: 25%;
    font-family: sans-serif;
    border: 1pt;
    top: 18px;
    padding-top: 10%; 
}
a {
    text-decoration: none;
}

.listsanpham{
    float: right;
    height: 100%;
    width: 70%;
    background: white;
    padding-left: 2%;
    padding-top: 4%;
}
.btn-success{
    float: right;
    
}
/* tr td :hover{
    background-color: rgb(29, 181, 231);
} */
ul li:hover {background: rgb(209, 208, 208);}

.timkiem{
    margin-left: 26%;
    margin-top: 6%;
}
