<br>
<!-- Search form -->
<br>
<div class="panel panel-primary">
    <div class="panel-heading"> 
          <h3 class="panel-title">Bảng giá chung</h3>
    </div>
    <div class="panel-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Mã hàng</th>
                      <th>Tên hàng</th>
                        <th>Giá vốn</th>
                      <th>Giá chung</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
    </div>
</div>

