<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #FACC2E; color: black;">
  <!-- Brand -->
 
  <a class="navbar-brand" href="#" style="color: black; font-size:xx-large;">BoBo Station</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="color: black;font-size: 14pt;">Tổng quan</a>
    </li>
    
    <!-- Dropdown -->
    <li class="nav-item dropdown" routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: black;font-size: 14pt;"  >
        Hàng hóa
      </a>
      <div class="dropdown-menu" style="font-size: 14pt;">
        <a class="dropdown-item" [routerLink]="['/hanghoa/danhmucmon/list']">Danh mục món</a>
        <a class="dropdown-item" [routerLink]="['/hanghoa/danhmucNVL/list']">Danh mục NVL</a>
        <a class="dropdown-item" [routerLink]="['/hanghoa/thietlapgia/list']">Thiết lập giá</a>
        <a class="dropdown-item" href="#">Kiểm kho</a>
      </div>
    </li>
   

    <!--  -->
    <!-- <li class="nav-item">
      <a class="nav-link" style="color: black;font-size: 14pt;">Giao dịch</a>
    </li> -->

    <li class="nav-item dropdown" routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: black;font-size: 14pt;"  >
        Giao dịch
      </a>
      <div class="dropdown-menu" style="font-size: 14pt;">
        <a class="dropdown-item" [routerLink]="['/giaodich/hoadon']">Hóa đơn</a>
        <a class="dropdown-item" [routerLink]="['/giaodich/nhaphang']">Nhập hàng</a>
        
      </div>
    </li>
    

     <li class="nav-item dropdown" routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: black;font-size: 14pt;"  >
        Báo cáo
      </a>
      <div class="dropdown-menu" style="font-size: 14pt;">
        <a class="dropdown-item" [routerLink]="['/baocao/cuoingay']">Cuối ngày</a>
        <a class="dropdown-item" [routerLink]="['/baocao/banhang']">Bán hàng</a>
        <a class="dropdown-item" [routerLink]="['/baocao/hanghoa']">Hàng hóa</a>

      </div>  
     </li>
     
    <li class="nav-item" routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
      <a class="nav-link" href="#" style="color: black; font-size: 14pt" [routerLink]="['/banhanghoa']">Bán hàng</a>
    </li>
  
  </ul>
</nav>