/* .navbar {
    padding-left: 30px;
}
.navbar ul{
    padding-left: 6%;
}
a:hover{
    background-color: rgb(245, 220, 110);
}
.dropdown:hover .dropdown-content{
    background-color: royalblue;
 } */
 .navbar {
    padding-left: 30px;
  }
  
  .navbar ul {
    padding-left: 15px;
    width: 100%;
    text-align: center;
  }
  
  a:hover {
    /* background-color: rgb(245, 220, 110); */
    border-bottom: 2px solid #3287f5;
  
  }
  
  .dropdown:hover .dropdown-content {
    background-color: royalblue;
  }
  
  
  .li-menu {
    cursor: pointer;
    width: 13%;
  }
  
  .li-menu>a {
    width: 100%;
  }
  
