<div class="form">
    <form action="" method="POST" role="form">
        <legend> Thêm mới món</legend>


        <div class="form-group">
            <label for="">Loại thực đơn</label>
            <select name="" id="input" class="form-control" required="required" style="font-size: medium;"
                [(ngModel)]="mon.maLoai" [ngModelOptions]="{standalone: true}">
                <option value="1">Trà sữa</option>
                <option value="2">Trà váng sữa</option>
                <option value="3">Trà trái cây</option>
                <option value="4">Trà đá xay</option>
                <option value="5">Topping</option>
            </select>
        </div>

        <div class="form-group">
            <label for="recipient-name">Tên món</label>
            <input type="text" class="form-control" required #name="ngModel" [(ngModel)]="mon.tenMon"
                [ngModelOptions]="{standalone: true}" id="recipient-name">

            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"> * Vui lòng không để
                trống
            </div>

        </div>


        <div class="form-group">
            <label for="recipient-name">Đơn giá</label>
            <input type="number" class="form-control" required #dongia="ngModel" [(ngModel)]="mon.donGia"
                [ngModelOptions]="{standalone: true}" id="recipient-name">
            <div *ngIf="dongia.invalid && (dongia.dirty || dongia.touched)" class="alert alert-danger"> * Vui lòng không
                để trống
            </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="onAddMon()">Lưu</button>
    </form>
</div>