<div class="form">
    <br>
    <form action="" method="POST" role="form">
        <legend>Chỉnh sửa chi tiết món</legend>
        <div class="form-group">
            <label for="">Loại thực đơn</label>
            <select name="" id="input" class="form-control" style="font-size: medium;" [(ngModel)]="mon.maLoai"
                [ngModelOptions]="{standalone: true}">
                <option value="1">Trà sữa</option>
                <option value="2">Trà váng sữa</option>
                <option value="3">Trà trái cây</option>
                <option value="4">Trà đá xay</option>
                <option value="5">Topping</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Tên món</label>
            <input type="text" class="form-control" [(ngModel)]="mon.tenMon"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label for="">Giá bán</label>
            <input type="text" class="form-control" [(ngModel)]="mon.donGia"
            [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onEdit()">Lưu</button>
    </form>
    </div>